<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript">
      function setCookie(cname, cvalue, exdays) {
        const d = new Date();
        d.setTime(d.getTime() + (exdays*24*60*60*1000));
        const expires = "expires="+ d.toUTCString();
        document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
      }

      setCookie('ids', JSON.stringify({ id: "12345678" }), 365);
      
      function getCookie(name) {
        const value = `; ${document.cookie}`;
        const parts = value.split(`; ${name}=`);
        if (parts.length === 2) {
          return parts.pop().split(';').shift();
        }
      }
    </script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <div class="container">
      <iframe 
        id="newUserFrame"
        class="newUserFrame" 
        src="//6238-2804-18-7011-c531-e4f3-7f5-352b-6078.ngrok.io/users/new" 
        frameborder="0" 
        width="420" 
        height="345"
      >
      </iframe>
    </div>

    <script type="text/javascript">
      function postCrossDomainMessage(action, value) {
        const newUserFrame = document.getElementById('newUserFrame');
        const frameWindow = newUserFrame.contentWindow;
        const payload = {
          message: action,
          value
        }

        console.log("Sending message to the child frame", payload);

        frameWindow.postMessage(JSON.stringify(payload), "*");
      }

      window.addEventListener('message', function(e) {
        if (e.origin !== "http://6238-2804-18-7011-c531-e4f3-7f5-352b-6078.ngrok.io") {
          return;
        }

        if (e.data) {
          const message = JSON.parse(e.data)

          if (message.isReady) {
            console.log("Child frame is ready!");

            postCrossDomainMessage('sendIds', getCookie('ids'));
          }
        }
      });
    </script>
  </body>
</html>
